<ul class="list-group">
  {{range .Repos}}
    <li class="list-group-item">
      <div>{{.Owner}}/{{.Name}}</div>
      <form method="post" action="/repositories/register">
        <input type="hidden" name="service" value="{{.Service}}">
        <input type="hidden" name="repo_id" value="{{.RepoServiceID}}">
        <input type="hidden" name="owner" value="{{.Owner}}">
        <input type="hidden" name="name" value="{{.Name}}">
        {{$.csrfField }}
        <button type="submit" class="btn btn-primary">
          Register
        </button>
      </form>
    </li>
  {{end}}
</ul>
