{{define "main"}}
  <div class="container text-center mt-3">
    <div class="row row-cols-4">
      {{range .Repos}}
        <div class="col">
          <a href="/repo/{{.ID}}">
            <div class="border border-rounder">
              {{if eq .Service "GitHub"}}
                <i class="bi bi-github"></i>
              {{else if eq .Service "GitLab"}}
                <i class="bi bi-gitlab"></i>
              {{else}}
                <i class="bi bi-git"></i>
              {{end}}
              {{.Owner}}/{{.Name}}
            </div>
          </a>
        </div>
      {{end}}
      <div class="col">
        <div class="border border-rounder" data-bs-toggle="modal" data-bs-target="#addRepoModal">
          <i class="bi bi-plus-lg"></i>
        </div>
        <div class="modal fade" id="addRepoModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">Add repository</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <button type="button" class="btn btn-primary" hx-get="/repositories/fetch-unregistered/GitHub" hx-swap="outerHTML">GitHub</button>
                <!-- TODO: Add GitLab button -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
